/* .btn-entrar {
    width: "100%",
            padding: "12px",
            background: "#1976d2",
            color: "white",
            fontWeight: "bold",
            border: "none",
            borderRadius: "8px",
            cursor: "pointer",
            transition: "background 0.3s ease, transform 0.2s ease",
} */